{% extends 'base.html'%}

{% block title %}
<title>About</title>

{% endblock %}

{% block content %}
    <h1>Adventure Awaits</h1>
    <h2>Adventures is a website designed for you to plan or save eveerything you worked hard in researching before your trips. You can save your favorite restauraunts, excursions and even the ones you didn't get to do. Next time you'll have it ready!</h2>
    <style>
        h1{
                   font-size: 40px;
                   text-align: center;
                   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        h2{
                font-size: 20px;
                font-weight: 300;
        }

   </style>
{% endblock %}